body {
    text-align: center;
}

#kpcontain {
    display: flex;
    width: 100%;
    justify-content: center;
}

#keypad {
    display: flex;
    flex-wrap: wrap;
    width: 25%;
    justify-content: center;
    margin-bottom: 5vh;
}

#keypad button {
    width: 24%;
    height: 5vh;
    margin: .5%;
}

#input {
    width: 25%;
    height: 3vh;
    margin-bottom: 5vh;
    text-align: center;
}

.colors {
    background-color: red;
    color: white;
    border-radius: 5px;
}

.colors:hover {
    background-color: darkred;
}

.colors:active {
    background-color: white;
    color: black;
}

hr {
    margin: 1%
}

#output {
    display: none;
}

/** extras **/
#equal {
    background-color: lightblue;
}

#equal:hover {
    background-color: lightcoral;
}

#equal:active {
    background-color: darkred;
    color: white;
}